<section class="front__advantages front__section grid-container js--section">
    <h2 class="front__section--title front__advantages--title"  id="avantages">{{ advantages.title }}</h2>
    <div class="front__advantages--container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 large-5">
                <div class="front__advantages--text">{{ advantages.text }}</div>
            </div>
            <div class="cell small-12 large-7">
                <div class="grid-x grid-margin-x align-center align-stretch">
                    {% for key, bloc in advantages.blocs_picto_text %}
                    <div class="cell small-12 medium-6 reveal">
                        <div class="front__advantages--bloc front__advantages--bloc__{{ key }} reveal-{{ key is odd ? 2 : 1 }}">
                            <div class="front__advantages--bloc__picto">{{ function('wp_get_attachment_image', bloc.picto, 'medium') }}</div>
                            <h3 class="front__advantages--bloc__title">{{ bloc.title }}</h3>
                            <p class="front__advantages--bloc__text">{{ bloc.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
