<section class="front__contact front__section js--section">
    <h2 class="front__section--title front__contact--title"  id="contact">{{ contact.title }}</h2>
    <div class="grid-x grid-margin-y align-center align-stretch">
        <div class="cell small-12 large-5">
            <div class="front__contact--address__container">
                <h3 class="reveal"><span class="front__contact--big-title reveal-1">{{ contact.big_title }}</span><br><span class="front__contact--normal-title reveal-1">{{ contact.normal_title }}</span></h3>
                {% for address in contact.addresses %}
                <div class="reveal">
                    <div class="reveal-{{ key + 2 }}">
                        <h4 class="front__contact--address__name">
                            {{ address.name }}
                        </h4>
                        <div class="front__contact--address__description">
                            {{ address.address }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="reveal">
                    <p class="front__contact--phone reveal-4">
                            {{ contact.phone }}
                    </p>
                </div>
            </div>
        </div>
        <div class="cell small-10 medium-8 large-7 reveal">
            <div class="front__contact--map responsive-embed reveal-4">
                <iframe src="https://www.google.com/maps/d/embed?mid=1lRDPDHZOu4zAn5BDQiQALVLN0FY&ll=48.85791877907074%2C2.3482689999999593&z=13" width="640" height="480"></iframe>
            </div>
        </div>
    </div>

</section>
