<section class="front__network front__section js--section">
    <h2 class="front__section--title front__network--title" id="reseau">{{ network.title }}</h2>
    <div class="grid-container front__network--container">
        <div class="front__network--logos revealleft">
            <div class="front__network--logo revealleft-1">
                {{ function('wp_get_attachment_image', intro.logos.logo_1, 'medium') }}
            </div>
            <div class="front__network--logo revealleft-2">
                {{ function('wp_get_attachment_image', intro.logos.logo_2, 'medium') }}
            </div>
        </div>
        <div class="front__network--text">
            {{ network.text }}
        </div>
    </div>
</section>
