<section class="front__quotation front__section js--section">
    <h2 class="front__section--title front__quotation--title" id="devis">{{ quotation.title }}</h2>
    <div class="grid-container reveal">
        <div class="front__quotation--container">
            <div class="grid-x grid-margin-x align-top">
                <div class="cell small-12 medium-4">
                    <div class="front__quotation--text reveal-1">{{ quotation.text }}</div>
                </div>
                <div class="cell small-12 medium-8">
                    <div class="front__quotation--form">
                        {{ function('do_shortcode', '[contact-form-7 id="659"]') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
