<section class="front__team front__section js--section" id="lequipe">
    <div class="front__team--banner" style="background-image: url({{ team.image }})">
    </div>
    <h2 class="front__section--title front__team--title">{{ team.title }}</h2>
    <div class="front__team--text">{{ team.text }}</div>
    <div class="grid-container">
        <div class="front__team--container">
            <div class="grid-x grid-margin-x align-center align-stretch">
            {% for key, person in team.trombinoscope %}
            <div class="cell small-12 medium-6 large-4">
                <div class="front__team--card reveal">
                    <div class="front__team--card__svg {{ key is odd ? 'front__team--card__svg--reverse' : '' }} reveal-{{ key < 3 ? key + 1 : key - 2 }}">
                        {{ svg('svg-'~(key+1))}}

                        <div class="front__team--card__picture js--team-show" data-id="{{ key }}">
                        {{ function('wp_get_attachment_image', person.image) }}
                        </div>
                    </div>
                    <p class="front__team--card__name js--team-show" data-id="{{ key }}" style="background-color: {{ person.name_color }}">{{ person.name }}</p>
                </div>
                <div class="front__team--card__description front__team--card__description--hidden" data-id="{{ key }}">{{ person.description }}</div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

</section>
