<section class="front__testimonials js--section" id="avis">
    <div class="front__section front__testimonials--container revealleft revealright">
        <h2 class="front__section--title front__testimonials--title">{{ testimonials.title }}</h2>
        {% for key, testimonial in testimonials.testimonials %}
            <div class="front__testimonials--bloc {{ key is odd ? 'revealleft-3' : 'revealright-1' }}">
                <div class="grid-container">
                    <div class="front__testimonials--bloc__container">
                        <div class="front__testimonials--bloc__text-area">
                            <div class="front__testimonials--bloc__title">
                            {{ testimonial.improvments }}
                            </div>
                            <h3 class="front__testimonials--bloc__score">
                            {{ testimonial.score_gmat }}
                            </h3>
                            <div class="front__testimonials--bloc__text">
                            {{ testimonial.text }}
                            </div>
                        </div>
                        <div class="front__testimonials--bloc__image-area">
                            <div class="front__testimonials--bloc__image">
                                {{ function('wp_get_attachment_image', testimonial.image, 'medium') }}
                            </div>
                            <strong class="front__testimonials--bloc__legend">{{ testimonial.legend }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if testimonials.see_more %}
        <a href="{{ testimonials.see_more.url }}" target="_blank" class="button secondary front__testimonials--see-more">{{ testimonials.see_more.title|upper }}</a>
        {% endif %}
    </div>
</section>
