<section class="front__video front__section js--section" id="video">
    <h2 class="front__section--title front__video--title">{{ video.title }}</h2>
    <div class="grid-container">
        <div class="front__video--container reveal">
            <div class="responsive-embed reveal-1">{{ video.embed }}</div>
            <h3 class="front__video--subtitle reveal-2">{{ video.subtitle }}</h3>
            <p class="front__video--text reveal-3">{{ video.text }}</p>
        </div>
    </div>
</section>
