<section class="front__waranty front__section js--section">
    <div class="front__waranty--banner" style="background-image: url({{ reassurance.banner_image }})">
        <div class="front__waranty--banner__overlay">
            {{ function('wp_get_attachment_image', reassurance.banner_picto, 'medium') }}
            <h2 class="h1 front__waranty--banner__title">{{ reassurance.banner_title }}</h2>
        </div>
    </div>
    <h2 class="front__section--title front__waranty--title" id="garanties">{{ reassurance.title }}</h2>
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-stretch">
        {% for key, bloc in reassurance.blocs_picto_text %}
            <div class="cell small-12 medium-4 reveal">
                <div class="front__waranty--bloc front__waranty--bloc__{{ key }} reveal-{{ key + 1 }}">

                    <div class="front__waranty--bloc__picto">{{ function('wp_get_attachment_image', bloc.picto, 'medium') }}</div>
                    <h3 class="front__waranty--bloc__title">{{ bloc.title }}</h3>
                    <p class="front__waranty--bloc__text">{{ bloc.text }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
