<section class="front__faq front__section js--section">
    <h2 class="front__section--title front__faq--title"  id="faq">{{ faq.title }}</h2>
    <div class="front__faq--container">
        <div class="grid-container">
        {% for key, question in faq.questions %}
            <div class="front__faq--item">
                <div class="front__faq--item__title js--toggle-faq" data-item={{ key }}>
                    <h3>{{ question.title }}
                    </h3>
                    <div>{{ svg('picto-plus') }}</div>
                </div>
                <div class="front__faq--item__text" data-item={{ key }}>
                    {{ question.text }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
