<section class="front--intro js--section" id="intro" style="background-image: url({{thumbnail.src}})">
    <div class="front--intro__overlay">
        <div class="grid-container large-container">
            <div class="grid-x align-right">
                <div class="cell small-12 medium-8">
                    <div class="front--intro__vertical-container text-right">
                            <div>
                                {% if intro.logos.logo_2 %}
                                <div class="front--intro__logo">
                                    {{ function('wp_get_attachment_image', intro.logos.logo_2, 'medium') }}
                                </div>
                                {% endif %}

                            </div>
                            <div>
                                <h1 class="front--intro__title">{{ intro.title }}</h1>
                                <div class="front--intro__subtitle">{{ intro.sub_title }}</div>
                            </div>
                            <div class="text-right">
                                <span class="front--intro__form-title">{{ intro.form_text|upper }}</span>
                                <div class="intro__contact--form">
                                    {{ function('do_shortcode', '[contact-form-7 id="395" ]') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
