<section class="front__prices front__section js--section">
    <div class="front__prices--banner" style="background-image: url({{ prices.image }})">
    </div>
    <h2 class="front__section--title front__prices--title" id="tarifs">{{ prices.title }}</h2>
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-stretch align-center">
        {% for key, bloc in prices.options %}
            <div class="cell small-12 large-4 reveal">
                <div class="front__prices--bloc-container">
                    <div class="front__prices--bloc {{ bloc.is_promotion ? 'front__prices--bloc__promo' : '' }} reveal-{{ key + 1 }}">
                        <div class="front__prices--bloc__picto">{{ function('wp_get_attachment_image', bloc.picto, 'medium') }}</div>
                        <h3 class="front__prices--bloc__title">{{ bloc.title }}</h3>
                        <div class="front__prices--bloc__text">{{ bloc.text }}</div>
                    </div>
                    {% if bloc.is_promotion %}
                        <div class="front__prices--bloc__special">
                            <div class="front__prices--bloc__special--title">{{ bloc.promotion_title }}</div>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3">
                                    <div class="front__prices--bloc__special--time-element">
                                        <div class="js--days">05</div>
                                        <p class="front__prices--bloc__special--time-element__name">{{ __("DAYS", "jedi-theme") }}</p>
                                    </div>
                                </div>
                                <div class="cell small-3">
                                    <div class="front__prices--bloc__special--time-element">
                                        <div class="js--hours">08</div>
                                        <p class="front__prices--bloc__special--time-element__name">{{ __("HOURS", "jedi-theme") }}</p>
                                    </div>
                                </div>
                                <div class="cell small-3">
                                    <div class="front__prices--bloc__special--time-element">
                                        <div class="js--minutes">22</div>
                                        <p class="front__prices--bloc__special--time-element__name">{{ __("MIN", "jedi-theme") }}</p>
                                    </div>
                                </div>
                                <div class="cell small-3">
                                    <div class="front__prices--bloc__special--time-element">
                                        <div class="js--seconds">51</div>
                                        <p class="front__prices--bloc__special--time-element__name">{{ __("SEC", "jedi-theme") }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if bloc.is_promotion %}
                <a href="#devis" target="_blank" class="button secondary front__prices--see-more js--go-to-section" data-target="devis">{{ __("Get the offer", "jedi-theme")|upper }}</a>
                {% else %}
                <a href="#devis" target="_blank" class="button secondary front__prices--see-more js--go-to-section" data-target="devis">{{ __("See more", "jedi-theme")|upper }}</a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    <strong class="front__prices--large-text">{{ prices.large_text }}</strong>
    <small class="front__prices--small-text">{{ prices.small }}</small>
    <p class="front__prices--remaining-places">{{ __("Il reste ", "jedi-theme") }}<span class="js--places">2</span><span>{{ __(" places", "jedi-theme") }}</span> {{ __("ce mois-ci.", "jedi-theme") }}</p>
</section>
