<section class="front__waranty front__section js--section">
    <div class="front__waranty--banner" style="background-image: url({{ reassurance.banner_image }})">
        <div class="front__waranty--banner__overlay">
            {{ function('wp_get_attachment_image', reassurance.banner_picto, 'medium') }}
            <h2 class="h1 front__waranty--banner__title">{{ reassurance.banner_title }}</h2>
        </div>
    </div>
    <h2 class="front__section--title front__waranty--title" id="garanties">{{ reassurance.title }}</h2>
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-stretch align-center">
        {% for key, bloc in reassurance.blocs_picto_text %}
            <div class="cell small-12 medium-6 large-3 reveal">
                <div class="front__waranty--bloc front__waranty--bloc__alternate front__waranty--bloc__{{ key }} reveal-{{ key }} {{ bloc.is_bg ? 'bg--light-gray-trans' : '' }}">

                    <div class="front__waranty--bloc__picto front__waranty--bloc__picto__alternate">{{ function('wp_get_attachment_image', bloc.picto, 'full') }}</div>
                    <h3 class="front__waranty--bloc__title front__waranty--bloc__title__alternate">{{ bloc.title }}</h3>
                    <p class="front__waranty--bloc__text front__waranty--bloc__text__alternate">{{ bloc.text }}</p>
                    {% if bloc.is_anchor %}
                        <a href="#devis" target="_blank" class="button primary front__prices--see-more front__prices--see-more__alternate js--go-to-section" data-target="devis">{{ bloc.cta_text|upper }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
