<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">
        <main id="main">
            {% block content %}
                <p>Sorry, no content</p>
            {% endblock %}
        </main>

        {% include 'partials/footer.twig' %}
        {% include 'html-footer.twig' %}
    </body>
</html>
