$pathFonts: '../fonts/';

@font-face {
    font-family: 'SegoeUi';
    src: url('../fonts/segoeui.ttf') format('truetype');
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/times-new-roman.ttf') format('truetype');
}
