body {
    overflow-x: hidden;
}

.full-width {
    margin-left: map-get($grid-container-padding, small) / -2;
    margin-right: map-get($grid-container-padding, small) / -2;

    @include breakpoint(medium) {
        margin-left: map-get($grid-container-padding, medium) / -2;
        margin-right: map-get($grid-container-padding, medium) / -2;
    }

    @include breakpoint(large) {
        margin-left: map-get($grid-container-padding, large) / -2;
        margin-right: map-get($grid-container-padding, large) / -2;
    }

    @media screen and (min-width: $global-width) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

li {
    list-style: none;
}

.hidden {
    display: none;
}
.large-container {
    @include breakpoint(medium) {
        max-width: 85vw;
        margin: 0 auto;
        vertical-align: middle;
    }
    @include breakpoint(medium) {
        width: 1250px;
    }

}
.breadcrumbs {
    color: $secondary-color;
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 32px;
    text-decoration: underline;

}
.no-wrap, .NO-WRAP {
    white-space: nowrap;
}
.bg--light-gray-trans {
    background: $light-gray-transparent;
}
