@import '~foundation-sites/scss/util/util';

$global-width: 1350px;

/** Colors */
$foundation-palette: (
  primary: #51BDA9,
  secondary: #1A7796,
  third: #D37806,
  fourth: #2E3E4E,
  success: #00B819,
  warning: #EE6E10,
  alert: #F11E1E,
);

$third-color: map-get($foundation-palette, third);
$fourth-color: map-get($foundation-palette, fourth);

@include add-foundation-colors;

// $social-palette: (
//   facebook: #3d5a96,
//   instagram: linear-gradient(180deg, #7024c4 0%, #c21975 42%, #c74c4d 70%, #e09b3d 100%),
//   linkedin: #007ab7,
//   twitter: #2aa3ef,
// );

// map-get($foundation-palette, secondary)

$white: #fff;
$black: #3A3132;
$light-gray-transparent: #E4E4E482;
$light-gray: #F1F1F1;
$gray: #707070;

$primary-font: 'SegoeUi', sans-serif;
$global-font-size: 20px;

$body-font-family: $primary-font;
$body-font-color: $gray;
$header-font-family: 'TimesNewRoman', 'sans-serif';

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  x-large: 1200px,
);

$global-lineheight: 1.35;
$global-radius: 10px;
$global-weight-bold: bold;
$header-font-weight: 400;
$header-color: $black;
$header-styles: (
  small: (
    "h1": ("fs": 28, "lh": 30, "mb": 16),
    "h2": ("fs": 24, "lh": 30, "mb": 12),
    "h3": ("fs": 20, "lh": 26, "mb": 12),
    "h4": ("fs": 18, "lh": 26, "mb": 12),
    "h5": ("fs": 18, "lh": 24, "mb": 8),
    "h6": ("fs": 16, "lh": 24, "mb": 8),
  ),
  medium: (
    "h1": ("fs": 50, "lh": 55, "mb": 20),
    "h2": ("fs": 25, "lh": 33, "mb": 46),
    "h3": ("fs": 30, "lh": 34, "mb": 18),
    "h4": ("fs": 20, "lh": 30, "mb": 16),
    "h5": ("fs": 18, "lh": 21, "mb": 10),
    "h6": ("fs": 16, "lh": 21, "mb": 10),
  ),
);

$paragraph-lineheight: inherit;
$anchor-color: $primary-color;

$button-color: $black;
$button-color-alt: $secondary-color;
$button-radius: 10px;
$button-padding: 18px 12px;
$button-background: transparent;

$button-palette: map-merge($foundation-palette, ("white": $white));
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.8125rem,
  large: 1.25rem,
);

$form-label-color: $black;
$form-label-font-size: rem-calc(16);
$form-label-font-weight: $global-weight-bold;
$input-radius: 0;
$select-radius: $input-radius;
$input-border: 0;
$input-border-focus: 0;
$input-color: $black;
// $input-shadow: 0 0px 16px rgba($black, 0.1);
// $input-shadow-focus: 0 0 16px rgba($black, 0.3);
$input-padding: 0.5rem 0.5rem;

$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
  small: 16px,
  medium: 16px,
  large: 32px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

// Vendor

// ~/hamburgers
$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 21px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 4px !default;
$hamburger-layer-color         : currentColor !default;
$hamburger-layer-border-radius : 1px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

