/* ************ Effet au scroll *********** */

/***  apparitions verticales ***/
.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-loaded [class*="reveal"]{
    transition: 1.5s cubic-bezier(.5, 0, 0, 1);
}

/* On ajoute du délai */
.reveal-loaded .reveal-2 {
    transition-delay: .3s;
}

.reveal-loaded .reveal-3 {
    transition-delay: .6s;
}

.reveal-loaded .reveal-4 {
    transition-delay: .9s;
}
.reveal-loaded .reveal-5 {
    transition-delay: 1.2s;
}

/***  apparitions de gauche ***/
.reveal-loaded .revealleft [class*="revealleft-"] {
    opacity: 0;
    transform: translateX(-50%);
    overflow-x: hidden;
    width: 0;
}

.reveal-loaded [class*="revealleft"]{
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/* On ajoute du délai */
.reveal-loaded .revealleft-2 {
    transition-delay: .1s;
}

.reveal-loaded .revealleft-3 {
    transition-delay: .2s;
}

.reveal-loaded .revealleft-4 {
    transition-delay: .3s;
}

/***  apparitions de droite ***/
.reveal-loaded .revealright [class*="revealright-"] {
    opacity: 0;
    transform: translateX(50%);
    overflow-x: hidden;
    width: 0;
}

.reveal-loaded [class*="revealright"]{
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/* On ajoute du délai */
.reveal-loaded .revealright-2 {
    transition-delay: .1s;
}

.reveal-loaded .revealright-3 {
    transition-delay: .2s;
}

.reveal-loaded .revealright-4 {
    transition-delay: .3s;
}
