a.see-more {
    position: relative;

    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content:'';
        border-bottom: 1px solid orange;
        transition: all 0.4s;
        color: orange;

    }

    &:hover {
        &:after{
            right: 100%;
        }
    }
}
