{% extends "base.twig" %}

{% block content %}
    {% include 'partials/header-alternate.twig' %}
    {% include "templates/alternate-landingpage/intro.twig" %}
    {% include "templates/front-page/advantages.twig" %}
    {% include "templates/alternate-landingpage/waranty.twig" %}
    {% include "templates/front-page/network.twig" %}
    {% include "templates/front-page/testimonials.twig" %}
    {% include "templates/alternate-landingpage/prices.twig" %}
    {% include "templates/front-page/team.twig" %}
    {% include "templates/alternate-landingpage/faq.twig" %}
    {% include "templates/front-page/video.twig" %}
    {% include "templates/front-page/quotation.twig" %}
{% endblock %}

