{% extends "base.twig" %}

{% block content %}
    {% include 'partials/header.twig' %}
    {% include "templates/front-page/intro.twig" %}
    {% include "templates/front-page/advantages.twig" %}
    {% include "templates/front-page/waranty.twig" %}
    {% include "templates/front-page/network.twig" %}
    {% include "templates/front-page/testimonials.twig" %}
    {% include "templates/front-page/prices.twig" %}
    {% include "templates/front-page/team.twig" %}
    {% include "templates/front-page/contact.twig" %}
    {% include "templates/front-page/video.twig" %}
    {% include "templates/front-page/quotation.twig" %}
{% endblock %}

