{% extends "base.twig" %}

{% block content %}
    <div class="grid-container">
        <a class="breadcrumbs" href="/"> < Retour à l'accueil</a>
        <h1>{{ title }}</h1>
        {{ content|raw }}
    </div>
{% endblock %}
