.footer {

    &__bottom {
        @include breakpoint(medium down) {
            text-align: center;
            padding: 16px 0 40px;
        }
        @include breakpoint(large) {
            padding: 16px 0;
        }
        background-color: #294C60;
        color: $white;
        font-size: 12px;

        a {
            margin-right: 3px;
            font-size: 12px;
            color: $white;
            text-transform: uppercase;

            &:hover {
                color: $third-color;
            }

            &.see-more {
                color: $third-color;
            }

        }
    }
}
