.front {

    &--intro {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -320px;
        @include breakpoint(medium) {
            background-position-x: 40%;
        }
        @include breakpoint(large) {
            min-height: 733px;
            background-position-x: -60px;
        }
        @include breakpoint(x-large) {
            background-position-x: -20px;
        }

        .large-container .grid-x {
            height: 100%;
        }
        .hidden-for-intro {
            display: none;
        }


        &__vertical-container {
            padding-top: 20px;
            padding-bottom: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @include breakpoint(medium) {
                align-items: flex-end;
                padding-top: 50px;
            }
        }


        &__overlay {
            background: linear-gradient(180deg, transparent 0%, #ABB59770 30%, #ABB597 100%) 0% 0% no-repeat padding-box;

            @include breakpoint(medium) {
                background: linear-gradient(90deg, transparent 0%, transparent 30%, #ABB597 55%, #ABB597 100%) 0% 0% no-repeat padding-box;
            }
            // background: transparent linear-gradient(90deg, #A0C5BE00 0%, #A0C5BEA6 12%, #A0C5BE 46%, #A0C5BE 100%) 0% 0% no-repeat padding-box;
            height: 100%;
            width: 100%;
            display: flex;
            min-height: 733px;

        }

        &__title {
            color: $white;
        }
        &__subtitle {
            color: $white;
            margin-bottom: 20px;
        }
        &__form-title {
            color: $secondary-color;
            font-weight: bold;
            font-size: 28px;
            transition: color 0.4s;
            cursor: pointer;
            &:hover {
                color: $fourth-color;
            }
        }

        &__logo {
            display: inline;
            img {max-width: 130px;}
            &:first-of-type {
                margin-right: 10px;
                img {max-width: 120px;}
            }
            @include breakpoint(large) {
                img {max-width: 205px;}
                &:first-of-type {
                    margin-right: 20px;
                    img {max-width: 180px;}
                }
            }
        }
        form {
            margin-top: 10px;

            .button {
                text-transform: uppercase;
                font-size: 17px;
                color: $white;
            }
        }
        input[type=text], input[type=email], input[type=tel], textarea {
            background-color: rgba($primary-color, 0.5);
            height: 42px;
            max-width: 360px;
            margin-bottom: 0;
            margin-right: 0;
            margin-left: auto;
            text-align: right;
            color: $white;
            transition: background-color 0.4s;

            &::placeholder {
                color: $white;
                font-size: 17px;
                line-height: 22px;
            }
        }
        input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, textarea:hover {
            background-color: $secondary-color;
        }

        @include breakpoint(medium down) {
            input[type=tel] {
                margin-bottom: 25px;
            }
        }

        textarea {
            height: 181px;
        }
    }

    &__section {
        position: relative;
        &--title {
            text-transform: uppercase;
            color: $white;
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: $body-font-family;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            max-width: 90vw;
            display: block;
            margin: 0 auto;
            transform: translateY(-50%);

            @include breakpoint(medium) {
                font-size: 25px;
                width: 536px;
            }

        }
    }

    &__advantages {

        &--title {
            background-color: $third-color;
        }

        &--text {
            @include breakpoint(medium down) {
                max-width: 700px;
            }
            margin: 0 auto;
            h1, h2, h3, h4 {
                color: $secondary-color;
                max-width: 500px;
            }
        }

        &--container {
            padding-top: 30px;
            padding-bottom: 10px;
            @include breakpoint(medium) {
                max-width: 700px;
                margin: 0 auto;
            }
            @include breakpoint(large) {
                max-width: 100%;
            }
        }

        &--bloc {

            img {
                display: block;
                max-width: 80px;
                height: 80px;
                margin: 0 auto;
            }

            &__title {
                color: $secondary-color;
                text-align: center;
            }

            &__text {
                min-height: 60px;
                font-size: 15px;
                text-align: center;
            }
        }
    }

    &__waranty {

        &--banner {
            height: 360px;
            background-size: cover;
            background-repeat: no-repeat;

            &__overlay {
                height: 100%;
                background: #392A17C2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            img {
                display: block;
                max-width: 200px;
                @include breakpoint(medium) {
                    max-width: 410px;
                }
                margin: 0 auto;
            }

            &__title {
                font-size: 25px;
                line-height: 1.175;
                max-width: 90vw;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                @include breakpoint(medium) {
                    font-size: 40px;
                }
                @include breakpoint(large) {
                    max-width: 1200px;
                }
                color: $white;
                font-style: italic;
            }

        }
        &--title {
            background-color: $primary-color;
        }

        .grid-container {
            position: relative;
            padding-top: 40px;
            padding-bottom: 80px;
            @include breakpoint(medium) {
                padding-top: 50px;
                padding-bottom: 80px;
            }
            @media screen and (min-width: 1500px) {
                max-width: 1500px;
            }


        }

        &--bloc {

            padding: 30px 15px;
            &__alternate {
                @media screen and (min-width: 1024px) and (max-width: 1500px) {
                    max-width: 350px;
                }
            }

            &__picto {
                min-height: 160px;
                margin-bottom: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 140px;
                }
                &__alternate {
                    @media screen and (min-width: 1024px) and (max-width: 1250px) {
                        min-height: 130px;
                        img {
                            max-width: 110px;
                        }
                    }
                    @media screen and (min-width: 1251px) and (max-width: 1500px) {
                        min-height: 140px;
                        img {
                            max-width: 125px;
                        }
                    }
                }

            }


            &__title {
                max-width: 400px;
                font-size: 1.375rem;
                line-height: 1.3;
                margin: 0 auto 25px;
                &__alternate {
                    @media screen and (min-width: 1024px) and (max-width: 1250px) {
                        font-size: 20px;
                        max-width: 220px;
                        min-height: 90px;
                        margin-bottom: 10px;
                    }
                    @media screen and (min-width: 1251px) and (max-width: 1500px) {
                        font-size: 24px;
                        max-width: 320px;
                        min-height: 100px;
                        margin-bottom: 15px;
                    }
                    @media screen and (min-width: 1501px) {
                        min-height: 100px;
                    }
                }
                color: $third-color;
                text-align: center;
                text-transform: uppercase;
            }

            &__text {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                min-height: 120px;
                text-align: center;
                &__alternate {
                    @media screen and (min-width: 1024px) and (max-width: 1250px) {
                        font-size: 16px;
                    }
                    @media screen and (min-width: 1251px) and (max-width: 1500px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__network {
        background-color: $light-gray-transparent;

        &--title {
            background-color: $fourth-color;
        }

        &--container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding-top: 70px;
            padding-bottom: 60px;
            @include breakpoint(medium) {
                padding-top: 135px;
                padding-bottom: 110px;
            }
            @include breakpoint(large) {
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                max-width: 1130px;
            }
        }

        &--logos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;
            margin-right: 0;
            @include breakpoint(large) {
                justify-content: space-between;
                flex-direction: column;
                margin-right: 80px;
                margin-bottom: 0;
            }
        }

        &--logo {
            max-width: 150px;
            @include breakpoint(medium) {
                max-width: 195px;
            }
        }

        &--text {
            @include breakpoint(medium) {
                max-width: 830px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__testimonials {

        $height: 600px;
        @include breakpoint(medium) {
            $height: 550px;
        }
        @include breakpoint(large) {
            $height: 480px;
        }
        $offset: -42px;


        &--title {
            background-color: $secondary-color;
            z-index: 2;
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            @media screen and (max-width: 640px) {
                transform: translateY(-70px);
            }
            @media screen and (min-width: 641px) {
                transform: translateY(calc( -50% + #{$height} -30px));
            }
            @include breakpoint(large) {
                transform: translateY(calc( -50% + #{$height} + 12px));
            }
        }

        &--container {
            padding-top: 0;
            position: relative;

            @include breakpoint(medium) {
                padding-top: #{$offset};
            }
            @include breakpoint(large) {
                padding-top: 75px;
                justify-content: space-between;
                flex-direction: column;
            }
        }

        &--bloc {

            height: #{$height};
            max-width: 100vw;
            transition: all 0.4s;

            @include breakpoint(large) {
                max-width: 76vw;
            }
            z-index: 1;

            .grid-container {
                height: 100%;
            }

            &__container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include breakpoint(medium) {
                    max-width: 920px;
                    flex-direction: row;
                }

            }

            &__image-area {
                @include breakpoint(medium) {
                    margin-left: 50px;
                }
            }

            &__image {


                width: 120px;
                display: block;
                margin: 0 auto 10px;

                @include breakpoint(large) {
                    width: 200px;
                }
                img {

                    border-radius: 50%;
                    border: 10px solid $secondary-color;
                }
            }

            &__legend {
                text-align: center;
                font-weight: 600;
                line-height: 1;
                display: block;
            }

            &__score, &__title, &__legend {
                color: $secondary-color;
            }

            &__title {
                font-size: 15px;
                line-height: 16px;
                @include breakpoint(medium) {
                    font-size: 19px;
                    line-height: 20px;
                }
                @include breakpoint(large) {
                    font-size: 25px;
                    line-height: 27px;
                }

                font-family: $header-font-family;
            }

            &__text {
                font-size: 15px;
                line-height: 1.1;
                @include breakpoint(medium) {
                    font-size: 18px;
                }
                @include breakpoint(large) {
                    font-size: 20px;
                    line-height: 1.35;
                }
            }

            &__score {
                font-size: 24px;
                line-height: 1;
                @include breakpoint(medium) {
                    font-size: 30px;
                }
                @include breakpoint(large) {
                    font-size: 45px;
                }
            }

            &__text-area {
                text-align: right;
            }
            &:nth-of-type(2n) {

                .front__testimonials--bloc__text-area {
                    text-align: left;
                }
                .front__testimonials--bloc__title, .front__testimonials--bloc__score, .front__testimonials--bloc__legend {
                    color: $third-color;
                }

                .front__testimonials--bloc__image-area {
                    @include breakpoint(medium) {
                        margin-left: 0px;
                        margin-right: 50px;
                    }
                }
                img {
                    border-color: $third-color;
                }

                .front__testimonials--bloc__container {
                    @include breakpoint(medium) {
                        flex-direction: row-reverse;
                    }
                    margin-left: auto;
                }
                background: #CAE1E980 0% 0% no-repeat padding-box;
                @include breakpoint(large) {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 100%;
                        transform: scale(-1);
                        width: 0;
                        height: 0;
                        border-top: calc(#{$height} / 2) solid transparent;
                        border-bottom: calc(#{$height} / 2) solid transparent;
                        border-right: calc(#{$height} / 2) solid #CAE1E980;
                        @include breakpoint(small down) {
                            border-right: calc(#{$height} / 6) solid #CAE1E980;
                        }
                    }
                }
            }

            &:nth-of-type(2n+1) {
                margin-left: auto;
                background: #FFDEB480 0% 0% no-repeat padding-box;
                @include breakpoint(large) {
                    &:before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        transform: scale(-1);
                        width: 0;
                        height: 0;
                        border-top: calc(#{$height} / 2) solid transparent;
                        border-bottom: calc(#{$height} / 2) solid transparent;
                        border-left: calc(#{$height} / 2) solid #FFDEB480;
                        @include breakpoint(small down) {
                            border-left: calc(#{$height} / 6) solid #FFDEB480;
                        }
                    }
                }
            }
        }

        &--see-more {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            color: $white !important;
            border: 2px solid #2E3E4E;
            font-size: 25px;
            width: 255px;
            transform: translateY(-60px);
            margin-bottom: -30px;

        }

    }
    &__prices {

        margin-bottom: 40px;

        &--banner {
            height: 380px;
            background-size: cover;
            background-repeat: no-repeat;


        }
        &--title {
            background-color: $third-color;
        }

        .grid-container {
            position: relative;
            margin-bottom: 24px;
        }

        &--bloc-container {
            @include breakpoint(large) {
                min-height: 525px;
            }
            @include breakpoint(medium down) {
                margin-bottom: 30px;
            }
        }

        &--bloc {
            position: relative;
            overflow: hidden;
            height: 100%;

            &__promo {
                background-color: #A0C5BE26;

                &:before {
                    content: 'PROMO';
                    z-index: 1;
                    font-weight: 900;
                    letter-spacing: 2.5px;
                    font-size: 25px;
                    line-height: 34px;
                    background-color: $third-color;
                    color: #2E3E4E;
                    text-shadow: -1px 1px 3px $white;
                    position: absolute;
                    text-align: center;
                    left: -38px;
                    top: 35px;
                    padding-left: 40px;
                    padding-right: 40px;
                    transform: rotate(-45deg);
                }

                &:lang(en):before {
                    content: "\00a0 " + '  SALE  ' + "\00a0 ";
                }
                &:lang(es):before {
                    content: "Promoción";
                    left: -45px !important;
                    top: 47px !important;
                }
                &:lang(de):before {
                    content: "Beförderung";
                    left: -48px !important;
                    top: 58px !important;
                }
                &:lang(it):before {
                    content: 'Promozione';
                    left: -47px !important;
                    top: 47px !important;
                }
            }

            &__special {
                background-color: $third-color;
                padding: 5px 10px;
                text-align: center;
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;

                &--title {
                    font-weight: 900;
                    letter-spacing: 2.5px;
                    font-size: 25px;
                    line-height: 34px;
                    color: #2E3E4E;
                    text-shadow: -1px 1px 3px $white;
                    text-align: center;
                    text-transform: uppercase;
                }

                &--time-element {
                    color: $white;
                    text-align: center;
                    &__name {
                        text-transform: uppercase;
                        margin-bottom: 0;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                    }
                    >div {
                        font-size: 40px;
                        line-height: 53px;
                        font-weight: 600;
                    }
                }
            }
            padding: 80px 30px 20px;

            max-width: 400px;
            margin-left: auto;
            margin-right: auto;

            &__picto {
                margin-bottom: 34px;
            }

            img {
                display: block;
                max-width: 120px;
                margin: 0 auto;

            }

            &__title {
                font-size: 20px;
                line-height: 22px;
                @include breakpoint(medium) {
                    font-size: 25px;
                    line-height: 27px;
                }
                color: $third-color;
                font-weight: 600;
                font-family: $body-font-family;
                text-align: center;
                text-transform: uppercase;
                @include breakpoint(large) {
                    min-height: 54px;
                    margin-bottom: 0;
                }

            }

            &__text {
                margin-left: auto;
                margin-right: auto;
                text-align: center !important;

                p {
                    margin-bottom: 0;
                }
            }
        }

        &--see-more {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            color: $white !important;
            border: 2px solid #2E3E4E;
            font-size: 25px;
            min-width: 255px;
            margin-top: 30px;

            &__alternate {
                @media screen and (min-width: 1024px) and (max-width: 1250px) {
                    margin-top: 0;
                    font-size: 16px;
                    min-width: 100%;
                }
                @media screen and (min-width: 1251px) and (max-width: 1500px) {
                    margin-top: 0;
                    font-size: 18px;
                    min-width: 250px;
                }

            }

        }

        &--small-text {
            font-style: italic;
            display: block;
            text-align: center;
            color: #A1A1A1;
            font-size: 15px;
        }

        &--large-text {
            display: block;
            text-align: center;
            margin-bottom: 20px;
        }
        &--remaining-places {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: $fourth-color;
            span {
                color: $third-color;
            }
        }
    }

    &__team {
        padding-bottom: 5px;

        background-color: $light-gray-transparent;
        &--banner {
            height: 350px;
            background-size: cover;
            background-repeat: no-repeat;

        }
        &--text {
            text-align: center;
            margin-bottom: 60px;
            @include breakpoint(medium) {
                margin-bottom: 90px;
            }
        }
        &--title {
            background-color: $primary-color;
            margin-bottom: 30px;
        }

        &--container {
            margin-bottom: 80px;
            @include breakpoint(medium) {
                margin-bottom: 100px;
            }
        }

        &--card {

            max-width: 252px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            &__svg {
                position: relative;
                margin-bottom: 22px;
                svg {
                    width: 248px;
                    height: 248px;
                    transition: transform 0.4s;
                }

                &:hover {

                    svg {
                        transform: rotate(90deg);
                        transition-delay: 0s;
                    }

                    img {
                        filter: none;
                    }

                }

                &--reverse {
                    &:hover {

                        svg {
                            transform: rotate(-90deg);
                        }
                    }
                }
                img {
                    position: absolute;
                    top:49px;
                    left: 49px;
                    transition: all 0.3s;
                    border-radius: 50%;
                    filter: grayscale(0.8);
                    z-index: 1;
                    cursor: pointer;
                }
            }

            &__description {
                transition: all 0.4s;
                pointer-events: initial;
                height: initial;
                font-size: 16px;
                opacity: 1;
                &--hidden {
                    height: 0;
                    transition: all 0.4s;
                    transform: translateY(30px);
                    opacity: 0;
                    pointer-events: none;
                }
            }


            &__name {
                font-size: 25px;
                line-height: 33px;
                color: $white;
                text-transform: uppercase;
                min-width: 110px;
                width: fit-content;
                padding: 4px 28px;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &--small-text {
            font-style: italic;
            display: inline-block;
            text-align: center;
            color: #A1A1A1;
            font-size: 15px;
        }
    }

    &__faq {
        background-color: $fourth-color;
        &--container {
            padding: 40px 0 100px;
        }

        &--title {
            background-color: $secondary-color;
        }

        &--item {
            border-top: 1px solid #ABB597;
            &:last-of-type {
                border-bottom: 1px solid #ABB597;
            }
            padding: 20px 0;

            &__title {
                cursor: pointer;
                h3 {
                    margin-bottom: 0;
                    color: $primary-color;
                    font-weight: 500;
                }
                display: flex;
                justify-content: space-between;
                svg {
                    height: 45px;
                    width: 45px;
                    margin-right: 30px;
                    transition: transform 0.4s;
                }

                &__active {
                    svg {
                        transform: rotate(-45deg);
                    }
                }
            }


            &__text {
                max-height: 0;
                pointer-events: none;
                opacity: 0;
                transition: all 0.75s ease-in-out;
                color: $white;
                font-weight: 500;
                margin: 0;

                &__active {
                    max-height: 1500px;
                    @include breakpoint(medium) {
                        max-height: 1200px;

                    }
                    @include breakpoint(large) {
                        max-height: 1000px;
                    }
                    pointer-events: all;
                    opacity: 1;
                    padding: 20px 0;

                }
            }
        }

    }

    &__contact {

        .grid-x {
            background-color: $fourth-color;
        }
        &--address__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 40px 30px;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(large) {
                margin-right: 30px;
            }

            max-width: 525px;
        }

        &--title {
            background-color: $secondary-color;
            position: absolute;
            display: block;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            z-index: 1;
        }
        &--big-title, &--normal-title, &--address__name {
            color: $primary-color;
        }
        &--big-title {
            font-size: 45px;
            line-height: 50px;
            @include breakpoint(medium) {
                font-size: 65px;
                line-height: 72px;
            }
            margin-bottom: 0;

        }
        &--normal-title {
            font-size: 35px;
            line-height: 42px;
            @include breakpoint(medium) {
                font-size: 45px;
                line-height: 50px;
            }
        }
        &--address__name {
            font-size: 25px;
            line-height: 28px;
            @include breakpoint(medium) {
                font-size: 30px;
                line-height: 33px;
            }
            margin-bottom: 0;
        }
        &--address__description {
            color: $white;
            margin-bottom: 24px;
            p {
                margin-bottom: 0;
            }
            @include breakpoint(small down) {
                font-size: 16px;
            }
        }
        &--phone {
            margin-bottom: 24px;
            margin-top: 20px;
            color: $white;
            @include breakpoint(small down) {
                font-size: 16px;
            }
        }

        &--map {
            margin: 50px;
            @include breakpoint(medium down) {
                margin: 0;
                margin-bottom: 40px;
            }
            background-color: $fourth-color;
        }
    }

    &__video {

        &--title {
            transform: translateY(0);
            background-color: $third-color;
            margin-top: 50px;
            @include breakpoint(large) {
                margin-top: 80px;
            }
        }

        &--container {
            margin-top: 50px;
            margin-bottom: 50px;
            @include breakpoint(large) {
                margin-top: 80px;
                margin-bottom: 80px;
            }
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        &--subtitle {
            color: $third-color;
            text-align: center;
        }

        &--text {
            text-align: center;
        }
    }

    &__quotation {
        background-color: $fourth-color;

        &--text {
            text-align: center;
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
            color: $white;
            p {
                margin-bottom: 0;
            }
            @include breakpoint(small down) {
                margin-bottom: 30px;
            }
        }
        &--title {
            background-color: $primary-color;
        }

        .hidden, .hidden-for-intro {
            display: initial;
        }


        form {
            position: relative;
            small {
                font-size: 15px;
                color: $white;
                @include breakpoint(medium down) {
                    position: absolute;
                    bottom: 65px;
                    left: 0;
                }
                @include breakpoint(small down) {
                    max-width: 60vw;
                    bottom: 50px;
                }

            }
            .button {
                text-transform: uppercase;
                font-size: 17px;
                color: $white;
                background-color: $secondary-color;

                &:focus {
                    color: $white;
                    background-color: $secondary-color;
                }
                display: block;
                margin-left: auto;
                width: fit-content;
                padding: 10px 27px;

                &:hover {
                    color: $white;
                }
            }

            input[type=text], input[type=email], input[type=tel], textarea {
                background-color: rgba($secondary-color, 0.5);
                height: 42px;
                margin-bottom: 11px;
                color: $white;

                &::placeholder {
                    font-size: 17px;
                    line-height: 22px;
                }
            }
            br {
                display: none;
            }
            textarea {
                color: $white;
                height: 150px;
            }

            @include breakpoint(medium down) {
                input[type=tel] {
                    margin-bottom: 25px;
                }
            }
        }
    }
}
$offset: -42px;
@for $i from 1 through 20 {
    .front__testimonials--bloc:nth-of-type(#{$i}) {
        transform: translateY(calc( #{$i} * #{$offset}));
    }
}

