.header {
    position: static;
    z-index: 5;
    @include breakpoint(medium) {
        position: fixed;
        z-index: 5;
        top: 0;
    }
    width: 100%;

    .select-flags {
        cursor: pointer;
        transform: rotate(90deg);
        transition: all 0.4s;
        margin-left: 25px;

        @include breakpoint(medium) {
            margin-left: 70px;
        }
        &__active {
            transform: rotate(-90deg);
        }
    }

    .display-flex-flags {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    &--container {
        background-color: $white;
        position: relative;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(medium) {
            flex-direction: row;
        }

        svg {
            fill: currentColor !important;

            path {
              fill: inherit !important;
            }
        }
    }

    &--navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &--logo {
        max-width: 105px;
        transform: translateX(-66px);
        @include breakpoint(medium) {
            margin: 0px 20px;
            transform: translateX(0);

        }
    }

    &--anchors {
        position: absolute;
        background-color: $white;
        box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
        @media screen and (min-width: 1380px) {
            box-shadow: none;
            position: relative;
        }
        top: 100%;
        left: 0;
        right: 0;

        nav ul{
            margin: 0;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-self: center;
        }

        &__link {
            a {
                color: $gray;
                &:hover {
                    color: $primary-color;
                }
            }
            padding: 10px;
            font-size: 16px;
            margin-right: 6px;
            margin-top: 5px;
            margin-bottom: 5px;
            @include breakpoint(medium) {
                margin: 0;
                padding: 20px 10px;
            }

            &--active {
                background-color: #EFEFEF;
            }
        }

        &__quotation-link {
            padding-top: 5px;
            padding-bottom: 12px;

            color: $white;
            background-color: $black;
            &:focus {
                color: $white;
                background-color: $black;
            }
            font-size: 15px;
            line-height: 24px;
            margin-top: 12px;
            @include breakpoint(large) {
                margin-top: 0;
                margin-right: 14px;
                font-size: 16px;
            }
            &:hover {
                color: $white;
                background-color: $black;
                opacity: 0.7;
            }
            svg {
                top: 8px;
                width: 35px;
                height: 27px;
            }
        }
        &__phone-link {
            color: $white;
            background-color: $primary-color;
            font-size: 15px;
            line-height: 20px;
            padding: 12px;
            svg {
                width: 22px;
                height: 22px;
            }
            @include breakpoint(large) {
                margin-right: 18px;
                font-size: 16px;

            }
            &:hover {
                background-color: $secondary-color;
                color: $white;

            }
        }
    }

    &--buttons {
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(medium) {
            margin-right: 20px;
        }

        >div {
            @include breakpoint(medium) {
                margin-right: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        a {

            @include breakpoint(small down) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            min-width: 230px;
            display: block;
            @include breakpoint(medium) {
                min-width: 100px;
                margin-bottom: 0;
                margin-top: 0;
                display: inline;
                margin-right: 15px;
            }
            @include breakpoint(large) {
                margin-right: 30px;
            }
        }

        &__mobile {
            position: fixed;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: top;
            z-index: 4;
            top: 0;
            left: 0;
            a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &--phone {
                color: $white;
                border-radius: 0;
                background-color: $primary-color;
                font-size: 15px;
                line-height: 20px;
                padding: 12px;
                svg {
                    width: 22px;
                    height: 22px;
                }

            }

            &--quotation {
                padding-top: 5px;
                padding-bottom: 12px;
                border-radius: 0;
                color: $white;
                background-color: $black;
                &:focus {
                    color: $white;
                    background-color: $black;
                }
                font-size: 15px;
                line-height: 24px;
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    &--flags {
        z-index: 6;
        background-color: $white;
        .wpml-ls-flag {
            width: 27px !important;
            height: 18px !important;
            transform: translateY(2px);
        }
        &__alt {
            padding: 10px;
            position:  absolute !important;
            @include breakpoint(medium) {
                top: 27px !important;
                right: 50px !important;
            }

            ul {
                margin-right: 15px;
                li:not(:first-of-type) {
                    max-height: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.4s;
                }
            }

            .wpml-ls-flag {
                width: 35px !important;
                height: auto !important;
                transform: translateY(5px) !important;
            }

        }

        ul {
            margin: 0;
        }

        &__active {
            border: 1px solid $black;
            ul {
                li:not(.wpml-ls-current-language) {
                    max-height: 50px;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }


        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 20vw;
        top: 0;
        a {
            margin-right: 0;
            padding-bottom: 10px;
            padding-top: 0;
            min-width: fit-content;
        }
        @include breakpoint(medium) {
            position: relative;
            right: 10px;
            margin-left: 10px;
        }

    }
}
