@include breakpoint(small down) {
    .cc-message {
        margin-bottom: 4px !important;
        margin-top: 4px !important;

    }

    .cc-btn {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .cc-window {
        line-height: 1.3em;
    }
}
