<footer class="footer">
    <div class="footer__bottom">
        <div class="grid-container padding">
            <div class="grid-x grid-margin-y align-center-middle">
                {% for link in options.footer_links %}
                    <div class="cell small-12 medium-shrink">
                        <a href="{{ link.link.url }}">{{ link.link.title|upper }} |</a>
                    </div>
                {% endfor %}
                <div class="cell small-12 medium-shrink">
                 <span>RÉALISÉ PAR - </span><a  class="cell small-12 medium-shrink see-more" href="https://www.krysalidesign.com/" target="_blank">KRYSALIDESIGN</a>
                </div>
            </div>
        </div>
    </div>
</footer>
