<header class="header">
    <div class="header--container">
        <nav class="header--navigation">
            <div class="header--logo">
                <a href="#" class="js--go-to-section" data-target="main">
                {{ function('wp_get_attachment_image', options.logo) }}
                </a>
            </div>
            {% if anchors %}
            <div class="header--anchors">
                <nav>
                    <ul class="header--anchors__container">
                    {% for anchor in anchors %}
                        <li class="header--anchors__link">
                            <a href="#" class="js--go-to-section" data-target="{{ anchor.target }}">{{ anchor.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </nav>
        <div class="header--buttons show-for-medium">
            <div>
                <a href="#" class="button header--anchors__quotation-link js--go-to-section" data-target="devis">{{ picto('picto-letter') }} {{ options.quotation_button|upper }}</a>
                <a class="button header--anchors__phone-link" href="tel:{{ options.phone }}" >{{ picto('picto-phone') }} {{ options.phone }}</a>
                <div class="header--flags header--flags__alt">
                    {{ menu }}
                </div>
                <div class="select-flags js--toggle-flags">></div>

            </div>
        </div>
        <div class="header--buttons hide-for-medium">
            <div class="header--flags header--flags__alt">
                <div class="display-flex-flags">
                    {{ menu }}
                    <div class="select-flags js--toggle-flags">></div>
                </div>
            </div>
        </div>
        <div class="header--buttons__mobile hide-for-medium">
            <a href="#" class="button header--buttons__mobile--quotation js--go-to-section" data-target="devis">{{ picto('picto-letter') }}</a>
            <a class="button header--buttons__mobile--phone" href="tel:{{ options.phone }}" >{{ picto('picto-phone') }}</a>
        </div>
    </div>
</header>
